.progressbar__step1 div {
    background-color: red;
}

.progressbar__step2 div {
    background-color: yellow;
}

.progressbar__step3 div {
    background-color: green;
}

.progressbar__outline {
    margin-top: 5px;
    border: 1px solid white;
}
